@import "base.css";

#header_style {
	border-bottom: 1px solid #888888;
}

#border1 {
  border-left: 1px solid #000;
}

#border2 {
  border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#border3 {
	border-right: 1px solid #000;
}

#menu_recruit {
	color: #237abd;
}

.menu_list {
  color: #000;
}

#contact p {
  color: #000;
}

#message {
	width: 535px;
  padding: 40px 0 30px 0;
	margin: 0 auto;
  padding-bottom: 40px;
}

.item p {
	font-size: 18px;
	color: #237abd;
	border-bottom: 1px solid #237abd;
}


.item img {
  margin: 0 auto;
  padding: 40px 0;
}

#detail td {
  text-align: left;
}

#detail table {
  width: 920px;
}

#detail table {
	padding: 20px 0;
  border-bottom:1px solid #dddddd;
}

.tm1 {
	width: 150px;
}

.tm2 {
  padding: 30px 0;
}

.pt {
	padding-top: 30px;
}

.pb {
	padding-bottom: 30px;
}

@media(max-width:980px) {
	.item img {
		width: 700px;
	}

	#detail table {
	  width: 750px;
	}

	#detail table td {
		font-size: 12px;
	}

}
